apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "issuer": "https://test.topicus-keyhub.com",
      "client_id": "XXX",
      "client_secret": "t0ps3cr3t11"
    }
